@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    margin-top: 20px;
    text-align: center;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}

.btn-group {
    left: 85%;
    top: 25%;
}

#task-count {
    top: 25%;
    position: relative;
}

.circle, .remove {
    height: 20px;
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.remove {
    margin-right: 0px;
    float: right;
}

.btn-outline-danger, .btn-outline-success {
    margin-right: 10px;
}